Repository Heges/yandex-diplom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: downstream
  trigger:
    include:
    - local: /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: downstream
  trigger:
    include:
    - local: /backend/.gitlab-ci.yml
    strategy: depend

update
  .gitignore
  infra/helm/.gitlab-ci.yml
  infra/helm/Chart.yaml
  infra/helm/charts/backend/Chart.yaml
  infra/helm/charts/backend/templates/deployment.yml
  infra/helm/charts/backend/templates/service.yml
  infra/helm/charts/backend/values.yaml
  infra/helm/charts/frontend/Chart.yaml
  infra/helm/charts/frontend/templates/configmap.yml
  infra/helm/charts/frontend/templates/deployment.yml
  infra/helm/charts/frontend/templates/service.yml
  infra/helm/charts/frontend/values.yaml
  infra/helm/charts/ingress/Chart.yaml
  infra/helm/charts/ingress/templates/ClusterIssuer.yml
  infra/helm/charts/ingress/templates/ingress.yml
  infra/helm/charts/ingress/values.yaml
  infra/helm/templates/secrets.yaml
  infra/helm/values.yaml
  infra/terraform/provider.tf
  infra/terraform/resources.tf
  infra/terraform/variables.tf
Due: none

Update Chart.yaml
  infra/helm/Chart.yaml
Due: none

1
  backend/1.txt
  frontend/1.txt
  infra/helm/1.txt
Due: frontend, backend

1
  .gitlab-ci.yml
  backend/1.txt
  frontend/1.txt
  infra/helm/1.txt
Due: frontend, backend

q
  .gitlab-ci.yml
  backend/1.txt
  frontend/1.txt
  infra/helm/1.txt
Due: frontend, backend

updatge
  infra/helm/.gitlab-ci.yml
  infra/helm/charts/backend/templates/deployment.yml
  infra/helm/charts/backend/templates/service.yml
  infra/helm/charts/backend/values.yaml
  infra/helm/charts/frontend/templates/deployment.yml
  infra/helm/charts/frontend/templates/service.yml
  infra/helm/charts/frontend/values.yaml
Due: none

гзвфеу
  backend/1.txt
  frontend/1.txt
  infra/helm/.gitlab-ci.yml
  infra/helm/1.txt
Due: frontend, backend

Update 1.txt
  infra/helm/1.txt
Due: none

Update .gitlab-ci.yml
  infra/helm/.gitlab-ci.yml
Due: none

Update deployment.yml
  infra/helm/charts/backend/templates/deployment.yml
Due: none

Update deployment.yml
  infra/helm/charts/frontend/templates/deployment.yml
Due: none

1
  backend/1.txt
  frontend/1.txt
  infra/helm/1.txt
  infra/helm/charts/frontend/templates/configmap.yml
Due: frontend, backend

1
  infra/helm/Chart.yaml
  infra/helm/charts/ingress/templates/ingress.yml
Due: none

1
  backend/1.txt
  frontend/1.txt
  infra/helm/.gitlab-ci.yml
  infra/helm/1.txt
Due: frontend, backend

1
  infra/helm/.gitlab-ci.yml
Due: none

fix 1
  .gitignore
  backend/Dockerfile
  infra/helm/.gitlab-ci.yml
  infra/helm/Chart.yaml
  infra/helm/charts/backend/templates/deployment.yml
  infra/helm/charts/backend/values.yaml
  infra/helm/charts/frontend/templates/configmap.yml
  infra/helm/charts/frontend/templates/deployment.yml
  infra/helm/charts/frontend/values.yaml
  infra/helm/charts/ingress/templates/ingress.yml
  infra/helm/values.yaml
Due: backend

update
  frontend/Dockerfile
  frontend/vue.config.js
  infra/helm/.gitlab-ci.yml
  infra/helm/charts/frontend/templates/configmap.yml
  infra/helm/charts/frontend/values.yaml
  infra/helm/charts/ingress/templates/cluster-issuer.yml
  infra/helm/charts/ingress/templates/ingress.yml
  infra/helm/charts/ingress/values.yaml
Due: frontend

Delete ClusterIssuer.yml
  infra/helm/charts/ingress/templates/ClusterIssuer.yml
Due: none

1212
  backend/1.txt
  frontend/1.txt
  infra/helm/charts/ingress/templates/cluster-issuer.yml
  infra/helm/charts/ingress/templates/ingress.yml
Due: frontend, backend

Update values.yaml
  infra/helm/charts/ingress/values.yaml
Due: none

update
  backend/1.txt
  frontend/1.txt
  infra/helm/.gitlab-ci.yml
  infra/helm/1.txt
  infra/helm/charts/ingress/templates/cluster-issuer.yml
  infra/helm/charts/ingress/templates/ingress.yml
Due: frontend, backend

update
  backend/1.txt
  frontend/1.txt
  infra/helm/1.txt
  infra/helm/charts/ingress/templates/cluster-issuer.yml
  infra/helm/charts/ingress/templates/ingress.yml
Due: frontend, backend

Update ingress.yml
  infra/helm/charts/ingress/templates/ingress.yml
Due: none

last-update?
  README.md
Due: none

update
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
